body{
    background-color: rgba(0, 0, 0, 0.908);
    color: white;
    text-align: center;
}
.navbar {
    margin-bottom: 40px;
}
main{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}
#home h1 {
    margin-bottom:2em;
    font-size: 3em;
}
#About {
    margin-top: 100px;
    border-top: 4px solid white;
    padding-top:60px;
    text-align:justify;
}
.skills-container, .projects-container, .contact-container {
    margin-top: 40px;
    border-top: 4px solid white;
    padding-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container h5 {
    margin-top:40px;
}

.title-skills{
    margin-top: 180px;
    text-align: center;
}

#skills, #projects, #contact {
    padding-top:10px
}
/* .projects-container {
    border: 1px white solid;
    border-radius:5px;
} */
#skills-icons {
    width:70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}
.project-container {
    width: 100%;
    border: 1px white solid;
    border-radius:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 40px 20px;
    margin: 20px 0;
}
.center {
    width: 100px;
    height: 150px;
    margin: 0 10px;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.linkicons {
    text-decoration: none;
    color: white;
}
.linkicons:hover {
    transform: scale(1.05)
}
.project-text-link {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-project{
    border-radius:5px;
}
.project-text-link > a {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}
.project-text-link > a:hover{
    transform: scale(1.05);
}
.icon-contacts{
    width:60px;
    height:60px;
}
.icon-contacts:hover{
    transform: scale(1.05);
}
#contact-container {
    margin: 40px;
}