.image {
  width: 10em;
  height: 10em;
  border-radius: 10em;

}

.ContainerProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 80%;
  margin: 0 auto;
}



.ContainerViewProject{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  justify-content: flex-start;
  padding: 24px 24px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  width: 40%;
}

@media (max-width: 1280px) {
  .ContainerProjects {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
  }
  .ContainerViewProject {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .ContainerProjects {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .ContainerProjects {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .ContainerViewProject {
    flex-direction: column;
    gap: 16px;

  }
}

.ContainerViewProjectInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  align-items: flex-start;
  margin-left: 24px;
}

.TextInfo {
  text-align: left;
}

.IconsContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 24px;
  margin-top: 1em;
}

.IconContainer {
  display: flex;
  padding: 1em 1em;
  border-radius: 16px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IconContainer:hover {
  background-color: #ffffff;
}

.IconContainer:hover .Icon {
  color: black;
}

.Icon {
  color: white;
  width: 24px;
  height: 24px;
}